<router-outlet>

</router-outlet>

<!-- Alert messages -->
<div id="alert-container">
  <div *ngFor="let alert of alerts | async">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" dismissible="true">{{ alert.msg }}</alert>
  </div>
</div>
