<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Nøgletal</h3>
      <p>Antal medlemmer i alt: {{ length }}</p>
      <p>Antal medlemmer der mangler betaling: {{ totalMissing }}</p>
      <p>Antal medlemmer hvor betaling afventes: {{ totalPending }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Oversigt <i class="glyphicon glyphicon-question-sign" popover="Kolonneoverskrifterne kan trykkes på for at sortere i tabellen." [popoverOnHover]="true"></i>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns">
      </ng-table>
      <pagination *ngIf="config.paging"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
      </pagination>
    </div>
  </div>
</div>
