<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Kursus detaljer</h3>
    </div>
    <div class="col-md-2 text-right">
      <strong>Navn</strong>
    </div>
    <div class="col-md-10">
      {{course.name}}
    </div>
    <div class="col-md-2 text-right">
      <strong>Dato</strong>
    </div>
    <div class="col-md-10">
      {{course.date | date:'dd/MM/yyyy'}}
    </div>
    <div class="col-md-2 text-right">
      <strong>Betalingsfrist</strong>
    </div>
    <div class="col-md-10">
      {{course.paymentDue | date:'dd/MM/yyyy'}}
    </div>
    <div class="col-md-2 text-right">
      <strong>Afmeldingsfrist</strong>
    </div>
    <div class="col-md-10">
      {{course.cancelDue | date:'dd/MM/yyyy'}}
    </div>
    <div class="col-md-2 text-right">
      <strong>Sted</strong>
    </div>
    <div class="col-md-10">
      {{course.location}}
    </div>
    <div class="col-md-2 text-right">
      <strong>Beskrivelse</strong>
    </div>
    <div class="col-md-6">
      {{course.description}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3>Deltagerliste <i class="glyphicon glyphicon-question-sign" popover="Kolonneoverskrifterne kan trykkes på for at sortere i tabellen." [popoverOnHover]="true"></i>
        <button class="btn btn-success pull-right" (click)="onAddParticipantClick()"><i class="glyphicon glyphicon-plus"></i>
          Tilføj deltager
        </button>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns">
      </ng-table>
      <pagination *ngIf="config.paging"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
      </pagination>
    </div>
  </div>
</div>
