<div class="container" id="navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/overview">SPBU Administrator</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/overview">Oversigt</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/register">Indmelding</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/unregister">Udmelding</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/courses">Kurser</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{loggedInUser}}</a></li>
        <li><a href="#" (click)="logout()">Log ud</a></li>
      </ul>
    </div>
  </nav>
</div>
