<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Indmelding af medlem</h3>
      <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="registerMember($event)" novalidate>
        <div class="form-group" [ngClass]="{'has-error': !registerForm.controls.email.valid && registerForm.controls.email.touched}">
          <label for="email" class="control-label col-md-3">
            E-mail:
          </label>
          <div class="col-md-4">
            <input [typeahead]="registeredMembers"
                   typeaheadOptionsLimit="5"
                   typeaheadMinLength="0"
                   typeaheadOptionField="email"
                   (typeaheadOnSelect)="typeaheadOnSelect($event)"
                   autocomplete="off"
                   class="form-control"
                   id="email"
                   formControlName="email"
                   type="email"
                   placeholder="Email">
          </div>
          <div *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched" class="col-md-5">Email feltet skal udfyldes!
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': !registerForm.controls.name.valid && registerForm.controls.name.touched}">
          <label for="name" class="control-label col-md-3">
            Navn:
          </label>
          <div class="col-md-4">
            <input class="form-control" id="name" formControlName="name" type="text" placeholder="Navn">
          </div>
          <div *ngIf="!registerForm.controls.name.valid && registerForm.controls.name.touched" class="col-md-5">
            Navn feltet skal udfyldes!
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': !registerForm.controls.address.valid && registerForm.controls.address.touched}">
          <label for="address" class="control-label col-md-3">
            Adresse:
          </label>
          <div class="col-md-4">
            <input class="form-control" id="address" formControlName="address" type="text" placeholder="Adresse">
          </div>
          <div *ngIf="!registerForm.controls.address.valid && registerForm.controls.address.touched" class="col-md-5">
            Adresse feltet skal udfyldes!
          </div>
        </div>
        <div class="form-group">
          <label for="spbu" class="control-label col-md-3">
            SPBU nummer:
          </label>
          <div class="col-md-4">
            <input class="form-control" id="spbu" formControlName="spbu" type="text" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="dp" class="control-label col-md-3">
            DP nummer:
          </label>
          <div class="col-md-4">
            <input class="form-control" id="dp" formControlName="dp" type="text" placeholder="DP">
          </div>
        </div>
        <div class="col-md-7">
          <button type="submit" class="btn btn-success pull-right" [disabled]="!registerForm.valid">Bekræft</button>
        </div>
      </form>
    </div>
  </div>
</div>
