<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Kursusoversigt <i class="glyphicon glyphicon-question-sign" popover="Kolonneoverskrifterne kan trykkes på for at sortere i tabellen. Tryk på et kursus i listen for at se detajler og tilmelde deltagere." [popoverOnHover]="true"></i></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)"
                [rows]="rows" [columns]="columns">
      </ng-table>
      <pagination *ngIf="config.paging"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
      </pagination>
    </div>
  </div>
</div>

