<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <img id="logo" src="http://spbu.dk/templates/a4joomla-minimal-art-free/images/spbu/SPBU_Mellem_RGB.jpg"
         alt="SPBU Icon">
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Log ind på SPBU Administrator</h3>
      </div>
      <div class="panel-body">
        <form (ngSubmit)="login(username, password)" #loginForm="ngForm">
          <fieldset>
            <div class="form-group">
              <input [(ngModel)]="username" required minlength="3" class="form-control" placeholder="Brugernavn"
                     name="username" type="text" autofocus="">
            </div>
            <div class="form-group">
              <input [(ngModel)]="password" required minlength="3" class="form-control" placeholder="Kodeord"
                     name="password" type="password" value="">
            </div>
            <div class="checkbox">
              <label>
                <input name="remember" type="checkbox">Husk kodeord
              </label>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-sm btn-success">Log ind</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
